---
import BaseLayout from "../layouts/BaseLayout.astro";
const identity = {
  firstName: "Nata",
  country: "Argentina",
  ocupation: "Programmer",
  hobbies: ["Cycling", "Reading", "Baking"],
};
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing docs"];

const happy = true;
const finished = false;
const skillColor = "crimson";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle="About me">
  <style define:vars={{ skillColor, fontWeight, textCase }}>
    h1 {
      color: rebeccapurple;
    }
    h2 {
      color: chartreuse;
    }
    h1 {
      font-size: 4rem;
    }
    .skill {
      /* color: chocolate; */
      color: var(--skillColor);
      font-weight: var(--fontWeight);
      text-transform: var(--textCase);
    }
  </style>
  <p>Here's some things about me:</p>
  <ul>
    <li>My name is {identity.firstName}</li>
    <li>I live in {identity.country} and i'm a {identity.ocupation}</li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Two of my hobbies are {identity.hobbies[0]} and {identity.hobbies[1]}
        </li>
      )
    }
  </ul>
  <p>Curently learning Astro {happy && <span style="color: red;">HAPPY to be doing so!</span>}</p>
  <p>
    I {
      finished ? (
        <span style="color: red;">finished</span>
      ) : (
        <span style="color: red;">haven't finished</span>
      )
    } this tutorial
  </p>
  <h2>Skills</h2>
  <p>Some of my skills are:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</BaseLayout>
