---
const { frontmatter } = Astro.props;
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout pageTitle={frontmatter.title}>
  <!-- <p>Published date: {frontmatter.pubDate.toString().slice(0, 10)}</p> -->
  <p>Published: {frontmatter.pubDate.toLocaleDateString()} </p>
  <p>Written by {frontmatter.author}</p>
  <p><em>{frontmatter.description}</em></p>
  <img src={frontmatter.image.url} width="300px" alt={frontmatter.image.alt} />
  <span
    ><ul class="tags">
      Tags:
      {
        frontmatter.tags.map((tag: any) => (
          <li class="tag">
            <a href={`/tags/${tag}`}>{tag}</a>
          </li>
        ))
      }
    </ul></span
  >

  <slot />
</BaseLayout>
